<?xml version="1.0"?>
<config>
    <modules>
        <N98_Yubikey>
            <version>1.0.1</version>
        </N98_Yubikey>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <N98_Yubikey before="Mage_Adminhtml">N98_Yubikey_Adminhtml</N98_Yubikey>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <N98_Yubikey>
                    <files>
                        <default>N98_Yubikey.csv</default>
                    </files>
                </N98_Yubikey>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <n98_yubikey>
                        <class>n98_yubikey/observer</class>
                        <method>controllerActionPredispatch</method>
                    </n98_yubikey>
                </observers>
            </controller_action_predispatch>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <n98_yubikey>
                        <class>n98_yubikey/observer</class>
                        <method>addYubikeyTabToUserPermissionForm</method>
                    </n98_yubikey>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </adminhtml>
    <global>
        <blocks>
            <n98_yubikey>
                <class>N98_Yubikey_Block</class>
            </n98_yubikey>
        </blocks>
        <models>
            <n98_yubikey>
                <class>N98_Yubikey_Model</class>
            </n98_yubikey>
        </models>
        <helpers>
            <n98_yubikey>
                <class>N98_Yubikey_Helper</class>
            </n98_yubikey>
        </helpers>
        <resources>
            <n98_yubikey_setup>
                <setup>
                    <module>N98_Yubikey</module>
                </setup>
            </n98_yubikey_setup>
        </resources>
    </global>
    <default>
        <admin>
            <yubikey>
                <use_https>1</use_https>
                <timeout>10</timeout>
                <log_enabled>0</log_enabled>
                <validation_server_1>api.yubico.com/wsapi/2.0/verify</validation_server_1>
                <validation_server_2>api2.yubico.com/wsapi/2.0/verify</validation_server_2>
                <validation_server_3>api3.yubico.com/wsapi/2.0/verify</validation_server_3>
                <validation_server_4>api4.yubico.com/wsapi/2.0/verify</validation_server_4>
                <validation_server_5>api5.yubico.com/wsapi/2.0/verify</validation_server_5>
            </yubikey>
        </admin>
    </default>
</config>